.header-container{
    cursor: pointer;
}

.priority-color{
  color: orange;
  margin-left: 5px;
}  
  .header-container .sortable.default::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: #0000 #0000 #9c9c9c #0000;
    position: absolute;
    top: 9px;
  }
  
  .header-container .sortable.default::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #9c9c9c #0000 #0000 #0000;
    content: '';
    display: block;
    top: 21px;
    position: absolute;
  }
  
  .header-container .sortable.asc::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: #0000 #0000 #000 #0000;
    position: absolute;
    top: 9px;
  }
  
  .header-container .sortable.desc::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #000 #0000 #0000 #0000;
    content: '';
    display: block;
    top: 21px;
    position: absolute;
  }
  .gylph-container{
      position: relative;
      margin-left: 5px;
  }
  .fa-sort-up{
      position: absolute;
      top: 1px;
  }
  .fa-sort-down{
    position: absolute;
    top: 2px;
}